body{
  font: normal 1.3em/150% 'Arimo', arial, verdana, sans-serif;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

header h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 900;
  letter-spacing: -1px;
  font-size: 48px;
  color: #303030;
  line-height: 1.2;
}

header h2 {
  letter-spacing: -1px;
  font-size: 24px;
  color: #aaa;
  font-weight: normal;
  line-height: 1.3;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #000000;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center;
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;

}

ul.no-bullet {
  list-style-type: none;
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px;
}

h3 {
  color: #d5000d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  color: #303030;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  color: #303030;
}

h6 {
  font-size: .8em;
  color: #303030;
}

p {
  font-weight: 300;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

dl dt {
  color: #303030;
}

footer {
  /*background: transparent url('../images/hr.png') 0 0 no-repeat;*/
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

div.syntaxhighlighter {
  margin: 0 0 0 0;
  padding:5px 5px 3px 5px;
  background:#fff;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:inset 0 0 7px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 0 7px rgba(0,0,0,0.2);
  box-shadow:inset 0 0 7px rgba(0,0,0,0.2);
  padding:10px;
  margin:0 0;
  border:1px solid #ddd;
}

#floating_menu {
  position: absolute;
  top: 224px;
  font: normal 0.8em/150% 'Arimo', arial, verdana, sans-serif;
  margin: 0 0 0 0;
}

#floating_menu ul {
  margin: 0 0 0 0;
}

#floating_menu.fixed {
  position: fixed;
  top: 2em;
  z-index: 1;
  width: 15%;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

@media all and (max-width: 768px) {

  #floating_menu {
    display: none;
  }

}
